body,div,dt,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,dl,dt,dd,iframe {  margin:0; padding:0; border:0;}  

html {	
	font-size:14px;line-height:14px;color:#222;overflow-y: scroll;background-attachment:fixed;			
	font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
	
}

table {border-collapse: separate;border-spacing: 2px;height:100%;}
header{display: block;height:100%;}
div{display:block;}
img { margin:auto;}
a:link, a:visited ,a:hover, a:active{text-decoration: none;}
body{	
	display: block;
	background: url(https://www.ghosai.com/images/north.png),linear-gradient(to right,#00AEEF 0%,#e89a9e 100%);	
	background-attachment: fixed;background-repeat: repeat-x;background-size: 100% 100%;	
	
}
html,body{-webkit-text-size-adjust:none;} 
/******************header***************/

.m-head{	
  width: 100%;z-index: 1001;top:0;position: fixed;margin:auto;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);background-color:#FFF;
  backface-visibility: hidden;border-color: #c74f4f;
}
.wrap,.wrap,.head,.h-logo,.h-left,.h-right{height:50px;line-height:50px;}
.wrap{width:1013px;margin:auto;}
.head{width:1013px;margin:auto;}
.h-logo{width:80px;float:left;padding-right:18px;margin:auto;}
#logo{padding:18px 0;display: block;}
.h-left{padding: 0 18px;float:left;text-align:center;}
.h-right{padding: 0 18px;float:right;text-align:right;}
.h-left a,.h-right a{font-size:18px;letter-spacing:1px;color:#3D3461;display: block;}

.h-left  a:hover{color:#f4655f;font-weight:bold;}
.h-right a:hover{color:#3D3461;}
#name{font-weight:bold;display: block;}

.link{position: relative;padding:0px 0;}
.tips  a:hover{color:#f4655f;font-weight:bold;}
.tips{padding:10px 20px;}
.tips a{font-size:1em;color:#3D3461;}
.tips dd {padding:5px 0;}

#about{
overflow:visible;display: none;font-size:14px;width: 180px;border: 1px solid #999;
text-align: right;line-height: 175%;position: absolute;top:50px;right:0px;background:rgba(255,255,255,0.9);

}

/********************main*********************/
.m-body{width:1013px;margin:auto;margin-top:68px;}
.main{width:1013px; margin:auto;}
.main .box{background-color:#fff;}
.box{padding:18px;border-radius:5px;-moz-border-radius: 2px;-webkit-border-radius: 2px;clear:both;	position: relative;}

.left-side{width:720px;float:left;margin-bottom:18px;}
.right-side{width:275px;float:right;}
.right-side .box {margin-bottom:18px;}

.left-side .box dt,.right-side .box dt {font-size:14px;line-height: 14px;padding-bottom:5px;color:#f4655f;}
.left-side .box dd,.right-side .box dd {font-size:14px;line-height: 24px;}

/*****************footer********************/
.m-footer {margin: auto;border-top: 1px solid #ddd;clear:both;}
.footer{width:1013px;margin: auto;font-size:12px;line-height:22px;}
.copyright{text-align:center;color: #aaa;color: #aaa;text-align:center;}

@media screen and (max-width: 720px) {
.wrap,.head,.m-body,.main,.footer,.left-side,.right-side{width:100%;min-width:275px;}

#name{font-weight:normal;}
.h-logo,.h-left,.h-right{padding:0 18px;}

.h-left  a,.h-right a{font-size:16px;}
.m-body img{max-width:100%;} 
.left-side .box dt,.right-side .box dt{font-size:15px;line-height: 15px;}
.left-side .box dd,.right-side .box dd {font-size:15px;line-height: 25px;}
}	
	
